<div class="container mx-auto px-4 bg-cover bg-center" style="background-image: url('<%= asset_path('background.png')%>')">
  <div class="mt-14 flex justify-center">
    <%= link_to root_path do %>
      <%= image_tag 'app_logo.png', style: "width: 186px;" %>
    <% end %>
  </div>
  <div class="mt-48 text-center">
    <p class="text-white text-2xl font-bold mb-1">
      Welcome to 
      <span class="text-blue-light">SkyCast</span>
    </p>
    <p class="text-base-gray-200 text-sm font-normal mb-8">Location to view the weather forecast</p>
    <label class="relative">
      <input type="search" name="" id="" class="h-14 bg-base-gray-600 text-white rounded-lg w-80 text-md font-normal border-none cursor-not-allowed" value="<%= @data.name %>" disabled>
      <span class="sr-only">Search</span>
      <span class="absolute inset-y-0 right-2 flex items-center pr-4">
        <svg class="motion-reduce:hidden animate-spin mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </span>
    </label>
    <%= form_tag(home_show_path, data: {turbo: :false}, method: :get ) do %>
      <%= submit_tag "Submit", class: "bg-base-gray-600 text-base-gray-400 mt-6 p-2 rounded-lg text-md cursor-pointer" %>
    <% end %>
  </div>
  <div class="text-white">
    real_ip<%= @real_ip %>
    real_ip1 <%= @real_ip1 %>
    real_ip2 <%= @real_ip2 %>
    real_ip3 <%= @real_ip3 %>
    real_ip4 <%= @real_ip4 %>
  </div>
</div>
